<form #addUserForm=ngForm (ngSubmit)="onSubmit()">
	<div *ngIf="message" style="background-color: #d7e2d7;padding: 12px;margin-bottom: 16px;">
  		{{message}}
  	</div>
	<h3>Add new user</h3>
    <input [(ngModel)]="form.name" type="text" placeholder="Name" name="name"  required="required"/>
    <input [(ngModel)]="form.email" type="email" placeholder="Email" name="email"  required="required"/>
    <input [(ngModel)]="form.password" type="password" placeholder="Password" name="password"  required="required"/>
    <label>Select Role</label>
    <select class="browser-default" name="permission" [(ngModel)]="form.permission">
        <option value="2">Account Manager</option>
        <option value="3">BDM</option>
      </select>
    <button type="submit" color="primary" [disabled]="!addUserForm.valid">Add User</button>
</form>