<h2>Portfolios</h2>
<div>
	<div class="search-wrapper">
		<div class="search-input">
			<label>Search by tags</label>
			<input [(ngModel)]="searchText" placeholder="search text goes here">
		</div>
		<div class="search-company">
			<label>Select by Company Name</label>
			<select [(ngModel)]="company">
				 <option value="" selected="selected">Select an option</option>
				 <option value="esferasoft">Esferasoft</option>
        		 <option value="web_expertz">Web Experts</option>
			</select>
		</div>
		<div style="clear: both"></div>
	</div>
	
			
			
	<div style="float: left;width: 49%" class="production">
		<h4>Production Projects<button class="copy_production" style="float: right">copy production</button></h4>

		<div class="portfolio-list" *ngFor="let portfolio of portfolios_production |filter : searchText|filter : company">
			<span routerLink="/portfolio/{{portfolio.id}}">{{ portfolio.project_name  }}</span> 
			<a href="" id="{{ portfolio.id }}" class="production_links">{{ portfolio.production_url }}</a>
			<div>tags: {{ portfolio.tags }}</div>
			<div>
				company: {{ portfolio.company }}
			</div>
		</div>
	</div>
	<div style="float: right;width: 49%" class="development">
		<h4>Development Projects<button class="copy_development" style="float: right">copy development</button></h4>
		<div class="portfolio-list" *ngFor="let portfolio of portfolios_development |filter : searchText|filter : company">
			<span routerLink="/portfolio/{{portfolio.id}}">{{ portfolio.project_name }}</span> 
			<a href="" id="{{ portfolio.id }}" class="development_links">{{ portfolio.development_url }}</a>
			<div>tags: {{ portfolio.tags }}</div>
			<div>
				company: {{ portfolio.company }}
			</div>
			
		</div>
	</div>
</div>
