<form #profileForm=ngForm (ngSubmit)="onSubmit()">
	<div *ngIf="message" style="background-color: #d7e2d7;padding: 12px;margin-bottom: 16px;">
  		{{message}}
  	</div>
	<h3>User profile</h3>
    <input [(ngModel)]="form.name" type="text" placeholder="Name" name="name"  required="required"/>
    <input [(ngModel)]="form.email" type="email" placeholder="Email" name="email"  required="required"/>
   
    <button type="submit" color="primary" [disabled]="!profileForm.valid">Update Profile</button>
</form>