<nav *ngIf="auth.isLoggednIn()">
    <ul>
        <li>
            <div class="thumb" >
                <i class="material-icons">
                    message
                </i>
                <div>
                    Portfolios
                </div>
                 <ul>
                    <li routerLink="portfolios">
                        List portfolios
                    </li>
                    <li>
                        Add portfolio
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="thumb" >
                <i class="material-icons">
                    supervised_user_circle
                </i>
                <div>
                    Users
                </div>
                <ul>
                    <li routerLink="users">
                        List users
                    </li>
                    <li>
                        Add users
                    </li>
                </ul>
            </div>
        </li>
        
        <li>
            <div class="thumb" >
                <i class="material-icons">
                    account_circle
                </i>
                <div>
                    Account
                </div>
                 <ul>
                    <li routerLink="portfolios">
                        View Profile
                    </li>
                    <li>
                        Change Password
                    </li>
                    <li (click)="logout()">
                        Logout
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>