<div *ngIf="message" style="background-color: #d7e2d7;padding: 12px;margin-bottom: 16px;">
    {{message}}
</div>
<h3> portfolio</h3>

<div class="image-wrapper">
    <div class="options">
        <label for="file">
            <i class="material-icons"  >exit_to_app</i>
        </label>
        <input id="file" type="file" (change)="fileUpload($event,portfolio.id)" style="display: none" name="image">
        <i class="material-icons" (click)="removeImage(portfolio.id)">highlight_off</i>
    </div>
    <img src="{{image}}" style="width: 100%;">
</div>
<div style="float: right">
    <button color="primary" (click)="downloadFile('project')">Download project backup</button>
    <button color="primary" (click)="downloadFile('sql')">Download database backup</button>
    <button color="primary" (click)="downloadFile('credential')">Download credential</button>
</div>
<form #editPortfolioForm=ngForm (ngSubmit)="onSubmit(portfolio.id)">
    <label>Project Name</label>
    <input [(ngModel)]="portfolio.project_name" type="text" placeholder="Project name" name="project_name"  required="required"/>
    <label>Description</label>
    <input [(ngModel)]="portfolio.description" type="text" placeholder="Description" name="description"  required="required"/>
    <label>Tags (comma seperated values)</label>
    <input [(ngModel)]="portfolio.tags" type="text" placeholder="Tags" name="tags"  required="required"/>
    <label>Production URL</label>
    <input [(ngModel)]="portfolio.production_url" type="text" placeholder="production_url" name="production_url"  />
    <label>Development URL</label>
    <input [(ngModel)]="portfolio.development_url" type="text" placeholder="development_url" name="development_url"  />
    <label>Client</label>
    <input [(ngModel)]="portfolio.client" type="text" placeholder="Client" name="client"  required="required"/>
    <label>Company</label>
    <input [(ngModel)]="portfolio.company" type="text" placeholder="Company" name="company"  required="required"/>
    <button type="submit" color="primary" [disabled]="!editPortfolioForm.valid">Add Portfolio</button>
</form>