<div class="login-page">
  <div class="form">
  	<div *ngIf="message" style="background-color: #d7e2d7;padding: 12px;margin-bottom: 16px;">
  		{{message}}
  	</div>
    <form class="register-form" #registerForm=ngForm (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Name" name="name" [(ngModel)]="form.name" required="required"/>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="form.email" required="required"/>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="form.password" required="required"/>
      <label>Select Role</label>
      <select class="browser-default" name="permission" [(ngModel)]="form.permission">
        <option value="2">Account Manager</option>
        <option value="3">BDM</option>
      </select>
      <button type="submit" color="primary" [disabled]="!registerForm.valid">create</button>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>